@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, a:focus {
  outline: none !important;
}

body {
  background: url(../images/background.jpg) top center;
  background-size: cover;
  overflow: hidden;
  font-family: "Fira Sans", sans-serif;
  color: #fff;
  font-size: 11px;
}

.desktop {
  position: relative;
}
.desktop p:hover {
  cursor: default;
}
.desktop__shutdown {
  width: 100%;
  height: 100vh;
  background-color: #005a9e;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: none;
}
.desktop__shutdown p {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 20px;
}
.desktop__shutdown img.rot {
  animation: 0.8s linear 0s normal none infinite running rot;
}
@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.desktop .pcTurnedOff {
  width: 100%;
  height: 100vh;
  background-color: black;
  text-align: center;
  display: none;
  padding-top: 100px;
}
.desktop .pcTurnedOff img:hover {
  transition: 0.5s all ease;
  scale: 120%;
  cursor: pointer;
}
.desktop .pcTurnedOff p {
  font-size: 18px;
  color: #6d6d6d;
}
.desktop .pcLoadMotherboard {
  width: 100%;
  height: 100vh;
  display: none;
}
.desktop .pcLoadHome {
  width: 100%;
  height: 100vh;
  background-color: black;
  background: url(../images/loadhome.jpg) top center;
  display: flex;
  display: none;
  align-items: center;
  justify-content: center;
}
.desktop .pcLoadHome .info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.desktop .pcLoadHome .info__welcome {
  display: flex;
  align-items: center;
}
.desktop .pcLoadHome .info p {
  font-size: 34px;
  font-weight: 300;
  margin-top: 20px;
}
.desktop .pcLoadHome .info span {
  font-size: 20px;
  font-weight: 300;
  margin-left: 10px;
}
.desktop .pcLoadHome img.rot {
  animation: 0.8s linear 0s normal none infinite running rot;
}
@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.desktop__pc {
  padding: 1px;
  position: fixed;
  background-color: #fff;
  width: 1000px;
  height: 600px;
  top: 20%;
  left: 20%;
  display: none;
  text-align: center;
  font-size: 30px;
  z-index: 1000;
  color: black;
}
.desktop__pc._active {
  display: block;
}
.desktop__pc-header {
  width: 100%;
}
.desktop__pc-header .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
}
.desktop__pc-header .top__left {
  display: flex;
  align-items: center;
  margin-left: 7px;
}
.desktop__pc-header .top__right {
  display: flex;
  align-items: center;
  gap: 1px;
}
.desktop__pc-header .top__right-icon {
  padding: 7px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s all ease;
}
.desktop__pc-header .top__right-icon .hover-close {
  display: none;
}
.desktop__pc-header .top__right-icon:hover {
  background-color: rgb(231, 231, 231);
}
.desktop__pc-header .top__right-icon:nth-child(3):hover {
  background-color: rgb(204, 24, 24);
}
.desktop__pc-header .top__right-icon:nth-child(3):hover .hover-close {
  display: block;
}
.desktop__pc-header .top__right-icon:nth-child(3):hover .hover-default {
  display: none;
}
.desktop__pc-header .middle {
  display: flex;
  border-bottom: 1px solid #dadbdc;
  justify-content: space-between;
  align-items: center;
}
.desktop__pc-header .middle__left {
  display: flex;
}
.desktop__pc-header .middle__left p {
  font-size: 13px;
  padding: 4px 17px;
  border: 1px solid transparent;
}
.desktop__pc-header .middle__left p:nth-child(1) {
  background-color: #0066b4;
  color: #fff;
}
.desktop__pc-header .middle__left p:nth-child(1):hover {
  background-color: #007ddd;
  border: 1px solid #007ddd;
}
.desktop__pc-header .middle__left p:hover {
  background-color: #fdfdff;
  border: 1px solid #ebecec;
  border-bottom: none;
}
.desktop__pc-header .middle__right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  height: 24px;
}
.desktop__pc-header .middle__right-item {
  display: flex;
  align-items: center;
  border: 1px solid transparent;
}
.desktop__pc-header .middle__right-item .dropdown {
  margin: 5px;
}
.desktop__pc-header .middle__right-item:hover {
  border: 1px solid #abd4fe;
  background-color: #f1f7fe;
}
.desktop__pc-header .bottom {
  display: flex;
  align-items: center;
  margin-top: 6px;
}
.desktop__pc-header .bottom__arrows {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.desktop__pc-header .bottom__path {
  border: 1px solid #d9d9d9;
  display: flex;
  align-items: center;
  padding: 3px 0px;
}
.desktop__pc-header .bottom__path p {
  font-size: 14px;
  color: #282828;
  font-weight: 400;
  margin-right: 440px;
}
.desktop__pc-header .bottom__path .dropdown, .desktop__pc-header .bottom__path .reboot {
  margin-right: 5px;
}
.desktop__pc-header .bottom__search {
  border: 1px solid #d9d9d9;
  display: flex;
  align-items: center;
  padding: 8px 0px;
  margin-left: 12px;
}
.desktop__pc-header .bottom__search img {
  margin: 0px 5px;
}
.desktop__pc-header .bottom__search input {
  border: none;
  width: 300px;
}
.desktop__pc-header .bottom__search input:focus {
  outline: none;
}
.desktop__pc-main {
  margin-top: 20px;
  display: flex;
}
.desktop__pc-main .sidebar {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 470px;
  border-right: 1px solid #f7f7f7;
}
.desktop__pc-main .sidebar__item {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid transparent;
}
.desktop__pc-main .sidebar__item p {
  color: #282828;
  font-size: 15px;
}
.desktop__pc-main .sidebar__item:hover {
  background-color: rgba(121, 235, 250, 0.15);
  border: 1px solid rgba(101, 196, 209, 0.5);
}
.desktop__pc-main .sidebar__item-img {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.desktop__pc-main .sidebar .canHide {
  padding-left: 35px;
  height: 27px;
}
.desktop__pc-main .sidebar .canHide-wrapper {
  display: flex;
  flex-direction: column;
}
.desktop__pc-main .sidebar .canHide-wrapper._hidden {
  display: none;
}
.desktop__pc-main .disks {
  margin-left: 5px;
}
.desktop__pc-main .disks__title {
  display: flex;
  align-items: center;
}
.desktop__pc-main .disks__title p {
  font-size: 18px;
  color: #1e3287;
  margin-left: 5px;
}
.desktop__pc-main .disks__title hr {
  margin-left: 10px;
  height: 1px;
  background-color: #e5e5e5;
  width: 525px;
  border: none;
}
.desktop__pc-main .disks__all {
  display: flex;
  margin-top: 10px;
}
.desktop__pc-main .disks__all._hidden {
  display: none;
}
.desktop__pc-main .disks__all-hdd {
  display: flex;
  align-items: center;
  padding: 5px;
}
.desktop__pc-main .disks__all-hdd:hover {
  background-color: #e5f3ff;
}
.desktop__pc-main .disks__all-hdd .info {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.desktop__pc-main .disks__all-hdd .info p {
  font-size: 13px;
  text-align: left;
}
.desktop__pc-main .disks__all-hdd .info p:nth-child(3) {
  color: #6d6d6d;
}
.desktop__pc-main .disks__all-hdd .info__space {
  display: flex;
  width: 200px;
}
.desktop__pc-main .disks__all-hdd .info__space .booked {
  height: 13px;
  flex-basis: 40%;
  border: 1px solid #bcbcbc;
  background-color: #26a0da;
  border-right: none;
}
.desktop__pc-main .disks__all-hdd .info__space .free {
  flex-basis: 60%;
  height: 13px;
  border: 1px solid #bcbcbc;
  background-color: #e6e6e6;
  border-left: none;
}
.desktop__pc-main .disks__all-hdd#hdd2 .info__space {
  display: flex;
  width: 200px;
}
.desktop__pc-main .disks__all-hdd#hdd2 .info__space .booked {
  height: 13px;
  flex-basis: 53%;
  border: 1px solid #bcbcbc;
  background-color: #26a0da;
  border-right: none;
}
.desktop__pc-main .disks__all-hdd#hdd2 .info__space .free {
  flex-basis: 47%;
  height: 13px;
  border: 1px solid #bcbcbc;
  background-color: #e6e6e6;
  border-left: none;
}
.desktop__chrome {
  position: absolute;
  width: 1000px;
  height: 700px;
  top: 30%;
  left: 23%;
  background-color: #383838;
  display: none;
}
.desktop__chrome._active {
  display: block;
}
.desktop__chrome .header {
  height: 35px;
  display: flex;
  align-items: center;
  float: right;
}
.desktop__chrome .header .icon {
  padding: 10px 15px;
  display: flex;
  align-items: center;
}
.desktop__chrome .header .icon:hover {
  background-color: rgba(107, 107, 107, 0.3);
}
.desktop__chrome .header .icon:nth-child(3):hover {
  background-color: red;
}
.desktop__chrome iframe {
  border: none;
}
.desktop__start {
  position: fixed;
  background-color: rgb(41, 41, 41);
  width: 415px;
  height: 600px;
  padding-right: 15px;
  bottom: 40px;
  left: 0;
  text-align: center;
  font-size: 30px;
  z-index: 1000;
  transform: translate(0, 120%);
  transition: 0.3s all ease;
}
.desktop__start._active {
  transform: translate(0, 0%);
}
.desktop__start .wrapper {
  display: flex;
}
.desktop__start .sidebar {
  display: flex;
  max-width: 60px;
  padding-top: 328px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.desktop__start .sidebar__icon {
  width: 60px;
  padding: 8px;
  transition: 0.1s all ease;
  border: 1px solid transparent;
}
.desktop__start .sidebar__icon:hover {
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.desktop__start .sidebar__turnon {
  position: absolute;
  width: 250px;
  height: 120px;
  background-color: rgb(29, 29, 29);
  top: 71%;
  z-index: 1001;
  display: flex;
  padding: 5px 0px;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}
.desktop__start .sidebar__turnon._active {
  display: flex;
}
.desktop__start .sidebar__turnon-item {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid transparent;
  padding: 5px 0px;
  transition: 0.1s all ease;
}
.desktop__start .sidebar__turnon-item:hover {
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.desktop__start .sidebar__turnon-item p {
  font-size: 13px;
}
.desktop__start-main {
  width: 100%;
}
.desktop__start-main .subtitle {
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  padding: 10px 0px;
}
.desktop__start-main .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}
.desktop__start-main .cards__card {
  padding: 5px;
  width: 100%;
  height: 110px;
  background-color: #383838;
  position: relative;
  transition: 0.1s all ease;
  border: 1px solid transparent;
}
.desktop__start-main .cards__card img {
  position: absolute;
  top: 22%;
  left: 22%;
}
.desktop__start-main .cards__card p {
  position: absolute;
  font-size: 11px;
  float: left;
  bottom: 0;
  margin-bottom: 5px;
}
.desktop__start-main .cards__card:hover {
  background-color: #525252;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.desktop__settings {
  position: absolute;
  width: 1000px;
  height: 700px;
  background-color: #fff;
  color: #000;
  top: 120%;
  left: -35%;
  scale: 0;
  transition: 0.4s all ease;
  opacity: 0;
}
.desktop__settings._active {
  opacity: 1;
  top: 10%;
  left: 35%;
  scale: 1;
}
.desktop__settings .header {
  display: flex;
  align-items: center;
  justify-content: right;
  background-color: #fff;
}
.desktop__settings .header .icon {
  padding: 0px 10px;
  display: flex;
  align-items: center;
  padding: 8px 15px;
}
.desktop__settings .header .icon .hover-close {
  display: none;
}
.desktop__settings .header .icon:hover {
  background-color: #e5e5e5;
}
.desktop__settings .header .icon:nth-child(3):hover {
  background-color: #e81123;
}
.desktop__settings .header .icon:nth-child(3):hover .hover-close {
  display: flex;
}
.desktop__settings .header .icon:nth-child(3):hover .close {
  display: none;
}
.desktop__settings-title {
  text-align: center;
  margin-top: 30px;
}
.desktop__settings-title p {
  font-size: 24px;
  font-weight: 300;
}
.desktop__settings-item {
  margin: 30px;
}
.desktop__settings-item .title {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 10px;
}
.desktop__settings-item .title p {
  font-size: 18px;
  font-weight: 300;
}
.desktop__settings-item .title img {
  max-width: 40px;
}
.desktop__settings-item .images {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
}
.desktop__settings-item .images__card {
  padding: 10px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(236, 236, 236);
  box-shadow: -1px 3px 20px -2px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: -1px 3px 20px -2px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: -1px 3px 20px -2px rgba(0, 0, 0, 0.35);
}
.desktop__settings-item .images__card img {
  margin: 0 auto;
  max-width: 200px;
}
.desktop__settings-item .images__card p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
}
.desktop__settings-item .buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}
.desktop__calc {
  position: absolute;
  width: 320px;
  background-color: #f3f3f3;
  top: 60%;
  left: 70%;
  display: none;
}
.desktop__calc .box {
  width: 40px;
  height: 40px;
  background-color: blue;
  position: absolute;
  top: 20%;
  left: 40%;
}
.desktop__calc._active {
  display: block;
}
.desktop__calc-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.desktop__calc-header .left {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 7px 15px;
}
.desktop__calc-header .left p {
  font-size: 12px;
  color: #000;
}
.desktop__calc-header .right {
  display: flex;
  align-items: center;
}
.desktop__calc-header .right .icon {
  padding: 0px 10px;
  display: flex;
  align-items: center;
  padding: 8px 15px;
}
.desktop__calc-header .right .icon:hover {
  background-color: #dbdbdb;
}
.desktop__calc-header .right .icon:nth-child(3):hover {
  background-color: red;
}
.desktop__calc-header .right .icon:nth-child(3):hover .hover-close {
  display: flex;
}
.desktop__calc-header .right .icon:nth-child(3):hover .hover-default {
  display: none;
}
.desktop__calc-header .right .hover-close {
  display: none;
}
.desktop__calc-result {
  margin-top: 30px;
  color: #000;
  margin: 0px 15px;
  width: 290px;
}
.desktop__calc-result .calculationResult {
  font-size: 47px;
  font-weight: 500;
  text-align: right;
  width: 290px;
  border: none;
  background-color: #f3f3f3;
  margin-top: 75px;
}
.desktop__calc-btns {
  display: flex;
  flex-direction: column;
  padding: 0px 5px 5px 5px;
  gap: 2px;
}
.desktop__calc-btns .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
}
.desktop__calc-btns .row input {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 14px;
  width: 100%;
  height: 47px;
}
.desktop__calc-btns .row input:hover {
  background-color: #f6f6f6;
}
.desktop__calc-btns .row .equal {
  background-color: #005a9e;
  color: #cbddeb;
}
.desktop__calc-btns .row .equal:hover {
  background-color: #196aa7;
}
.desktop__snakeGame {
  position: absolute;
  width: 600px;
  height: 600px;
  background-color: #f3f3f3;
  top: 30%;
  left: 30%;
  display: none;
}
.desktop__snakeGame._active {
  display: block;
}
.desktop__snakeGame .header {
  display: flex;
  align-items: center;
  justify-content: right;
  background-color: #B8C6DC;
}
.desktop__snakeGame .header .icon {
  padding: 0px 10px;
  display: flex;
  align-items: center;
  padding: 8px 15px;
}
.desktop__snakeGame .header .icon:hover {
  background-color: #dbdbdb;
}
.desktop__snakeGame .header .icon:nth-child(3):hover {
  background-color: red;
}
.desktop__snakeGame .header .icon:nth-child(3):hover .hover-close {
  display: flex;
}
.desktop__snakeGame .header .icon:nth-child(3):hover .hover-default {
  display: none;
}
.desktop__snakeGame .gameMenu {
  width: 100%;
  height: 100%;
  background-color: #293447;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none;
}
.desktop__snakeGame .gameMenu__modes {
  padding: 15px 70px;
  border-radius: 30px;
  text-align: center;
  border: 3px solid #435675;
}
.desktop__snakeGame .gameMenu__modes :nth-child(1) {
  color: rgb(0, 168, 0);
  transition: 0.4s all ease;
}
.desktop__snakeGame .gameMenu__modes :nth-child(1):hover {
  letter-spacing: 2px;
  border-bottom: 1px solid rgb(0, 168, 0);
}
.desktop__snakeGame .gameMenu__modes :nth-child(2) {
  color: rgb(219, 158, 25);
  transition: 0.4s all ease;
}
.desktop__snakeGame .gameMenu__modes :nth-child(2):hover {
  letter-spacing: 2px;
  border-bottom: 1px solid rgb(219, 158, 25);
}
.desktop__snakeGame .gameMenu__modes :nth-child(3) {
  color: rgb(201, 73, 34);
  transition: 0.4s all ease;
}
.desktop__snakeGame .gameMenu__modes :nth-child(3):hover {
  letter-spacing: 2px;
  border-bottom: 1px solid rgb(201, 73, 34);
}
.desktop__snakeGame .gameMenu__modes :nth-child(4) {
  color: rgb(185, 0, 0);
  transition: 0.4s all ease;
}
.desktop__snakeGame .gameMenu__modes :nth-child(4):hover {
  letter-spacing: 2px;
  border-bottom: 1px solid rgb(185, 0, 0);
}
.desktop__snakeGame .gameMenu h1 {
  font-size: 48px;
  margin-bottom: 200px;
}
.desktop__snakeGame .gameMenu p {
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 500;
  border-bottom: 1px solid transparent;
}
.desktop__snakeGame .gameMenu p:hover {
  cursor: pointer;
}
.desktop__snakeGame .gameInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #293447;
}
.desktop__snakeGame .gameInfo p {
  color: #B8C6DC;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
}
.desktop__snakeGame .gameBoard {
  height: 100%;
  width: 100%;
  display: grid;
  background: #212837;
  grid-template: repeat(30, 1fr)/repeat(30, 1fr);
}
.desktop__snakeGame .gameBoard .food {
  background-color: red;
  border-radius: 50%;
}
.desktop__snakeGame .gameBoard .player {
  background-color: green;
  border-radius: 50%;
}
.desktop__snakeGame .gameLose {
  width: 100%;
  height: 100%;
  background-color: #293447;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none;
}
.desktop__snakeGame .gameLose h1 {
  font-size: 52px;
  color: red;
}
.desktop__snakeGame .gameLose p {
  margin-top: 30px;
  font-size: 22px;
}
.desktop__telegram {
  position: absolute;
  width: 1200px;
  height: 800px;
  background-color: #f3f3f3;
  top: 10%;
  left: 20%;
  display: none;
}
.desktop__telegram .header {
  display: flex;
  align-items: center;
  justify-content: right;
  background-color: #f1f1f1;
}
.desktop__telegram .header .icon {
  padding: 0px 10px;
  display: flex;
  align-items: center;
  padding: 8px 15px;
}
.desktop__telegram .header .icon .hover-close {
  display: none;
}
.desktop__telegram .header .icon:hover {
  background-color: #e5e5e5;
}
.desktop__telegram .header .icon:nth-child(3):hover {
  background-color: #e81123;
}
.desktop__telegram .header .icon:nth-child(3):hover .hover-close {
  display: flex;
}
.desktop__telegram .header .icon:nth-child(3):hover .close {
  display: none;
}
.desktop__telegram-sidemenu {
  display: flex;
  transform: translate(0%, 0%);
  z-index: 9999;
  transition: 0.17s all ease-out;
  position: absolute;
  scale: 0;
  opacity: 0;
}
.desktop__telegram-sidemenu._active {
  scale: 1;
  opacity: 1;
  transform: translate(0, 0);
  top: 4%;
  left: 0%;
}
.desktop__telegram-sidemenu .left {
  padding: 22px 0px 0px 0px;
  width: 350px;
  color: #222222;
  background-color: #fff;
}
.desktop__telegram-sidemenu .left .top {
  border-bottom: 1px solid #d3d3d3;
}
.desktop__telegram-sidemenu .left .top .avatarImg {
  margin-left: 22px;
  width: 60px;
}
.desktop__telegram-sidemenu .left .top .nickname {
  padding-left: 22px;
  margin-top: 20px;
  font-weight: 500;
  font-size: 16px;
}
.desktop__telegram-sidemenu .left .top .status {
  padding-left: 22px;
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 18px;
  color: #168acd;
  font-weight: 400;
}
.desktop__telegram-sidemenu .left .main {
  padding-top: 5px;
}
.desktop__telegram-sidemenu .left .main .item {
  padding: 12px 22px;
  display: flex;
  align-items: center;
  gap: 25px;
}
.desktop__telegram-sidemenu .left .main .item p {
  font-size: 18px;
  font-weight: 500;
}
.desktop__telegram-sidemenu .left .main .item p:hover {
  cursor: pointer;
}
.desktop__telegram-sidemenu .left .main .item:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}
.desktop__telegram-sidemenu .left .bot {
  margin-top: 155px;
  padding: 22px;
}
.desktop__telegram-sidemenu .left .bot h2 {
  color: #999999;
  font-weight: 500;
  font-size: 18px;
}
.desktop__telegram-sidemenu .left .bot__about {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.desktop__telegram-sidemenu .left .bot__about a {
  text-decoration: none;
}
.desktop__telegram-sidemenu .left .bot__about a:hover {
  text-decoration: underline;
  text-decoration-color: #999;
}
.desktop__telegram-sidemenu .left .bot__about p {
  font-size: 18px;
  color: #999;
  font-weight: 300;
}
.desktop__telegram-sidemenu .left .bot__about p:hover {
  cursor: pointer;
}
.desktop__telegram-sidemenu .right {
  width: 850px;
  height: 768px;
  background-color: #000;
  opacity: 0.5;
}
.desktop__telegram-channels {
  color: #222222;
  background-color: #fff;
  height: 769px;
}
.desktop__telegram-channels .top {
  display: flex;
  align-items: center;
}
.desktop__telegram-channels .top__left {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px 5px 20px 20px;
  border-right: 1px solid #e5e5e5;
}
.desktop__telegram-channels .top__left input {
  padding-left: 20px;
  font-size: 18px;
  height: 45px;
  width: 420px;
  border-radius: 30px;
  border: none;
  border: 2px solid #e5e5e5;
}
.desktop__telegram-channels .top__left input::-moz-placeholder {
  opacity: 0.6;
}
.desktop__telegram-channels .top__left input::placeholder {
  opacity: 0.6;
}
.desktop__telegram-channels .top__left img:hover {
  cursor: pointer;
}
.desktop__telegram-channels .top__rightTg {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.desktop__telegram-channels .top__rightTg .channel-info {
  margin-left: 25px;
}
.desktop__telegram-channels .top__rightTg .channel-info .channel-name-header {
  font-size: 18px;
  font-weight: 500;
}
.desktop__telegram-channels .top__rightTg .channel-info .statusChannel {
  margin-top: 5px;
  color: #999;
  font-size: 16px;
}
.desktop__telegram-channels .top__rightTg .icons {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-right: 25px;
  display: none;
}
.desktop__telegram-channels .main {
  display: flex;
  flex-direction: row;
}
.desktop__telegram-channels .main__channels {
  max-width: 500px;
  border-right: 1px solid #e5e5e5;
}
.desktop__telegram-channels .main__channels .channel {
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.desktop__telegram-channels .main__channels .channel img {
  max-width: 60px;
  border-radius: 50%;
}
.desktop__telegram-channels .main__channels .channel .info {
  display: flex;
  flex-direction: column;
  padding: 15px 10px;
}
.desktop__telegram-channels .main__channels .channel .info .top-info {
  width: 400px;
  display: flex;
  justify-content: space-between;
}
.desktop__telegram-channels .main__channels .channel .info .top-info .time {
  color: #999;
  font-size: 14px;
}
.desktop__telegram-channels .main__channels .channel .info .channel-name {
  font-size: 18px;
  font-weight: 500;
}
.desktop__telegram-channels .main__channels .channel .info .channel-post {
  color: #999999;
  padding-top: 5px;
  font-size: 16px;
  font-weight: 400;
}
.desktop__telegram-channels .main__channels .channel .info .channel-post:hover {
  cursor: pointer;
}
.desktop__telegram-channels .main__channels .channel:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}
.desktop__telegram-channels .main__info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: url(../images/telegram_bg.jpg) top center;
  background-size: cover;
  width: 100%;
  height: 684px;
  padding: 20px;
  overflow-y: scroll;
  display: none;
}
.desktop__telegram-channels .main__info .message {
  border-radius: 10px 10px 10px 0px;
  padding: 5px 10px;
  max-width: 500px;
  background-color: #fff;
}
.desktop__telegram-channels .main__info .message .channelName {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 500;
}
.desktop__telegram-channels .main__info .message .channel-msg {
  max-width: 500px;
  font-size: 16px;
}
.desktop__telegram-channels .main__info .message__footer {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 10px;
}
.desktop__telegram-channels .main__info .message__footer .time, .desktop__telegram-channels .main__info .message__footer .views {
  color: #a0acb6;
  font-size: 14px;
}
.desktop__telegram-channels._hidden {
  background-color: #000;
  opacity: 0.3;
}
.desktop__icons {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.desktop__icons-icon {
  width: 80px;
  padding: 5px;
  border: 1px solid rgba(86, 196, 249, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.desktop__icons-icon img {
  max-width: 70px;
}
.desktop__icons-icon h2 {
  text-align: center;
  font-weight: 400;
  filter: drop-shadow(1px 2px 1px black);
}
.desktop__icons-icon h2:hover {
  cursor: default;
}
.desktop__icons-icon:hover {
  background-color: rgba(121, 235, 250, 0.15);
  border: 1px solid rgba(101, 196, 209, 0.3);
}
.desktop__icons-icon .recycle_bin {
  max-width: 60px;
}

.footer {
  height: 40px;
  background-color: rgba(56, 56, 56, 0.8);
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 9999;
}
.footer__left {
  display: flex;
  align-items: center;
  gap: 2px;
}
.footer__left-icon {
  display: flex;
  justify-content: center;
  width: 50px;
  height: 100%;
  padding: 4px;
}
.footer__left-icon:nth-child(1) {
  padding: 5px;
}
.footer__left-icon:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
.footer__left img {
  max-width: 30px;
}
.footer__left .user-icons {
  border-bottom: 2px solid rgb(95, 171, 221);
}
.footer__left .chromeFooterIcon, .footer__left .calcFooterIcon, .footer__left .snakeFooterIcon, .footer__left .telegramFooterIcon, .footer__left .windowsSettingsFooterIcon {
  display: none;
}
.footer__right {
  display: flex;
  align-items: center;
  gap: 5px;
}
.footer__right-icon {
  display: flex;
  justify-content: center;
  width: 30px;
  height: 100%;
}
.footer__right-icon .arrow-image {
  max-width: 15px;
  margin: 13px;
}
.footer__right-icon .micro-image, .footer__right-icon .ethernet-image {
  max-width: 22px;
  margin: 9px;
}
.footer__right-icon .sound-image {
  margin: 8px;
}
.footer__right-icon:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
.footer__right-time {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0px 5px;
  max-width: 80px;
  text-align: center;
}
.footer__right-time p {
  font-size: 14px;
  font-weight: 400;
}
.footer__right-time:hover {
  background-color: rgba(255, 255, 255, 0.15);
  cursor: default;
}
.footer__tray {
  width: 120px;
  height: 40px;
  position: absolute;
  background-color: #383838;
  bottom: 40px;
  left: 86%;
  display: flex;
  align-items: center;
  display: none;
}
.footer__tray-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 100%;
}
.footer__tray-icon:hover {
  background-color: #525252;
}
.footer__tray._active {
  display: flex;
}
.footer__tray img {
  width: 20px;
}
.footer__internet {
  width: 350px;
  position: absolute;
  background-color: #383838;
  bottom: 40px;
  right: 0;
  display: none;
}
.footer__internet._active {
  display: block;
}
.footer__internet-status {
  display: flex;
  gap: 15px;
  margin: 10px 0px;
  padding: 5px 10px;
}
.footer__internet-status:hover {
  background-color: #525252;
}
.footer__internet-status span, .footer__internet-status p {
  font-size: 15px;
}
.footer__internet-status span:hover, .footer__internet-status p:hover {
  cursor: default;
}
.footer__internet-status .info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer__internet-status .info p {
  color: rgb(161, 161, 161);
}
.footer__internet-title {
  font-size: 16px;
  margin-left: 10px;
  color: rgb(99, 175, 226);
  font-weight: 400;
}
.footer__internet-title:hover {
  color: rgb(161, 161, 161);
  cursor: pointer;
}
.footer__internet-subtitle {
  font-size: 12px;
  margin-left: 10px;
  line-height: 20px;
  margin-bottom: 10px;
  color: rgb(161, 161, 161);
}
.footer__internet-subtitle:hover {
  cursor: default;
}/*# sourceMappingURL=main.css.map */