@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, a:focus {
    outline: none !important;
}

body{
    background: url(../images/background.jpg) top center;
    background-size: cover;
    overflow: hidden;
    font-family: 'Fira Sans', sans-serif;
    color: #fff;
    font-size: 11px;
}

.desktop{
    position: relative;

    p:hover{
        cursor: default;
    }

    &__shutdown{
        width: 100%;
        height: 100vh;
        background-color: #005a9e;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        display: none;

        p{
            font-size: 22px;
            font-weight: 300;
            margin-bottom: 20px;
        }

        img.rot{
            animation: .8s linear 0s normal none infinite running rot;
        }

        @keyframes rot {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
        }
    }

    .pcTurnedOff{
        width: 100%;
        height: 100vh;
        background-color: black;
        text-align: center;
        display: none;
        padding-top: 100px;

        img:hover{
            transition: .5s all ease;
            scale: 120%;
            cursor: pointer;
        }

        p{
            font-size: 18px;
            color: #6d6d6d;
        }
    }

    .pcLoadMotherboard{
        width: 100%;
        height: 100vh;
        display: none;
    }

    .pcLoadHome{
        width: 100%;
        height: 100vh;
        background-color: black;
        background: url(../images/loadhome.jpg) top center;
        display: flex;
        display: none;
        align-items: center;
        justify-content: center;

        .info{
            display: flex;
            flex-direction: column;
            align-items: center;

            &__welcome{
                display: flex;
                align-items: center;
            }

            p{
                font-size: 34px;
                font-weight: 300;
                margin-top: 20px;
            }

            span{
                font-size: 20px;
                font-weight: 300;
                margin-left: 10px;
            }
        }

        img.rot{
            animation: .8s linear 0s normal none infinite running rot;
        }

        @keyframes rot {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
        }
    }

    &__pc{
        padding: 1px;
        position: fixed;
        background-color: #fff;
        width: 1000px;
        height: 600px;
        top: 20%;
        left: 20%;
        display: none;
        text-align: center;
        font-size: 30px;
        z-index: 1000;
        color: black;

        &._active{
            display: block;
        }

        &-header{
            width: 100%;

            .top{
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 14px;
                font-weight: 400;

                &__left{
                    display: flex;
                    align-items: center;
                    margin-left: 7px;
                }

                &__right{
                    display: flex;
                    align-items: center;
                    gap: 1px;

                    &-icon{
                        padding: 7px 15px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: .2s all ease;

                        .hover-close{
                            display: none;
                        }

                        &:hover{
                            background-color: rgb(231, 231, 231);
                        }

                        &:nth-child(3):hover{
                            background-color: rgb(204, 24, 24);

                            .hover-close{
                                display: block;
                            }
                            
                            .hover-default{
                                display: none;
                            }
                        }
                    }
                }
            }

            .middle{
                display: flex;
                border-bottom: 1px solid #dadbdc;
                justify-content: space-between;
                align-items: center;

                &__left{
                    display: flex;

                    p{
                        font-size: 13px;
                        padding: 4px 17px;
                        border: 1px solid transparent;

                        &:nth-child(1){
                            background-color: #0066b4;
                            color: #fff;

                            &:hover{
                                background-color: #007ddd;
                                border: 1px solid #007ddd;
                            }
                        }

                        &:hover{
                            background-color: #fdfdff;
                            border: 1px solid #ebecec;
                            border-bottom: none;
                        }
                    }
                }

                &__right{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 3px;
                    height: 24px;
                    
                    &-item{
                        display: flex;
                        align-items: center;
                        border: 1px solid transparent;

                        .dropdown{
                            margin: 5px;
                        }

                        &:hover{
                            border: 1px solid #abd4fe;
                            background-color: #f1f7fe;
                        }
                    }
                }
            }

            .bottom{
                display: flex;
                align-items: center;
                margin-top: 6px;

                &__arrows{
                    margin-left: 15px;
                    margin-right: 15px;
                    display: flex;
                    gap: 10px;
                    align-items: center;
                }

                &__path{
                    border: 1px solid #d9d9d9;
                    display: flex;
                    align-items: center;
                    padding: 3px 0px;


                    p{
                        font-size: 14px;
                        color: #282828;
                        font-weight: 400;
                        margin-right: 440px;
                    }

                    .dropdown, .reboot{
                        margin-right: 5px;
                    }
                }

                &__search{
                    border: 1px solid #d9d9d9;
                    display: flex;
                    align-items: center;
                    padding: 8px 0px;
                    margin-left: 12px;

                    img{
                        margin: 0px 5px;
                    }

                    input{
                        border: none;
                        width: 300px;
                        
                        &:focus{
                            outline: none;
                        }
                    }
                }
            }
        }


        &-main{
            margin-top: 20px;
            display: flex;

            .sidebar{
                margin-left: 20px;
                display: flex;
                flex-direction: column;
                width: 240px;
                height: 470px;
                border-right: 1px solid #f7f7f7;

                &__item{
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    border: 1px solid transparent;

                    p{
                        color:#282828;
                        font-size: 15px;
                    }

                    &:hover{
                        background-color: rgba($color: #79ebfa, $alpha: 0.15);
                        border: 1px solid rgba($color: #65c4d1, $alpha: 0.5);
                    }

                    &-img{
                        width: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .canHide{
                    padding-left: 35px;
                    height: 27px;
                }

                .canHide-wrapper {
                    display: flex;
                    flex-direction: column;

                    &._hidden{
                        display: none;
                    }
                }
            }

            .disks{
                margin-left: 5px;

                &__title{
                    display: flex;
                    align-items: center;

                    p{
                        font-size: 18px;
                        color: #1e3287;
                        margin-left: 5px;
                    }

                    hr{
                        margin-left: 10px;
                        height: 1px;
                        background-color: #e5e5e5;
                        width: 525px;
                        border: none;
                    }
                }

                &__all{
                    display: flex;
                    margin-top: 10px;

                    &._hidden{
                        display: none;
                    }

                    &-hdd{
                        display: flex;
                        align-items: center;
                        padding: 5px;

                        &:hover{
                            background-color: #e5f3ff;
                        }

                        .info{
                            display: flex;
                            flex-direction: column;
                            gap: 3px;

                            p{
                                font-size: 13px;
                                text-align: left;

                                &:nth-child(3){
                                    color: #6d6d6d;
                                }
                            }

                            &__space{
                                display: flex;
                                width: 200px;
                                
                                .booked{
                                    height: 13px;
                                    flex-basis: 40%;
                                    border: 1px solid #bcbcbc;
                                    background-color: #26a0da;
                                    border-right: none;
                                }

                                .free{
                                    flex-basis: 60%;
                                    height: 13px;
                                    border: 1px solid #bcbcbc;
                                    background-color: #e6e6e6;
                                    border-left: none;
                                }

                            }
                        }

                        
                        &#hdd2{

                            .info__space{
                                display: flex;
                                width: 200px;
                                
                                .booked{
                                    height: 13px;
                                    flex-basis: 53%;
                                    border: 1px solid #bcbcbc;
                                    background-color: #26a0da;
                                    border-right: none;
                                }

                                .free{
                                    flex-basis: 47%;
                                    height: 13px;
                                    border: 1px solid #bcbcbc;
                                    background-color: #e6e6e6;
                                    border-left: none;
                                }

                            }
                        }
                    }
                }
            }
        }
    }

    &__chrome{
        position: absolute;
        width: 1000px;
        height: 700px;
        top: 30%;
        left: 23%;
        background-color: rgba($color: #383838, $alpha: 1);
        display: none;

        &._active{
            display: block;
        }

        .header{
            height: 35px;
            display: flex;
            align-items: center;
            float: right;

            .icon{
                padding: 10px 15px;
                display: flex;
                align-items: center;

                &:hover{
                    background-color: rgba($color: lighten(#383838, 20%), $alpha: 0.3)
                }

                &:nth-child(3):hover{
                    background-color: red;
                }
            }
        }

        iframe{
            border: none;
        }
    }

    &__start{
        position: fixed;
        background-color: rgb(41, 41, 41);
        width: 415px;
        height: 600px;
        padding-right: 15px;
        bottom: 40px;
        left: 0;
        //display: none;
        text-align: center;
        font-size: 30px;
        z-index: 1000;
        transform: translate(0,120%);
        transition: .2s all ease-in-out;

        &._active{
            display: block;
            transform: translate(0,0%);
        }

        .wrapper{
            display: flex;
        }

        .sidebar{
            display: flex;
            max-width: 60px;
            padding-top: 328px;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            &__icon{
                width: 60px;
                padding: 8px;
                transition: .1s all ease;
                border: 1px solid transparent;

                &:hover{
                    background-color: rgba($color: #fff, $alpha: 0.15);
                    border: 1px solid rgba($color: #fff, $alpha: 0.3);
                }
            }

            &__turnon{
                position: absolute;
                width: 250px;
                height: 120px;
                background-color: rgb(29, 29, 29);
                top: 71%;
                z-index: 1001;
                display: flex;
                padding: 5px 0px;
                flex-direction: column;
                justify-content: space-between;
                display: none;

            &._active{
                display: flex;
            }

                &-item{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    border: 1px solid transparent;
                    padding: 5px 0px;
                    transition: 0.1s all ease;

                    &:hover{
                        background-color: rgba($color: #fff, $alpha: 0.15);
                        border: 1px solid rgba($color: #fff, $alpha: 0.3);
                    }

                    p{
                        font-size: 13px;
                    }
                }
            }
        }

        &-main{
            width: 100%;

            .subtitle{
                font-size: 13px;
                font-weight: 400;
                text-align: left;
                padding: 10px 0px;
            }

            .cards{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 1fr);
                grid-column-gap: 5px;
                grid-row-gap: 5px;

                &__card{
                    padding: 5px;
                    width: 100%;
                    height: 110px;
                    background-color: rgba($color: #383838, $alpha: 1.0);
                    position: relative;
                    transition: .1s all ease;
                    border: 1px solid transparent;

                    img{
                        position: absolute;
                        top: 22%;
                        left: 22%;
                    }

                    p{
                        position: absolute;
                        font-size: 11px;
                        float: left;
                        bottom: 0;
                        margin-bottom: 5px;
                    }
                    
                    &:hover{
                        background-color: lighten(#383838, 10%);
                        border: 1px solid rgba($color: #fff, $alpha: 0.3);
                    }
                }
            }
        }
    }

    &__calc{
        position: absolute;
        width: 320px;
        //height: 530px;
        background-color: #f3f3f3;
        top: 60%;
        left: 70%;
        display: none;

        .box{
            width: 40px;
            height: 40px;
            background-color: blue;
            position: absolute;
            top: 20%;
            left: 40%;
        }

        &._active{
            display: block;
        }

        &-header{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .left{
                display: flex;
                align-items: center;
                gap: 15px;
                padding: 7px 15px;


                p{
                    font-size: 12px;
                    color: #000;
                }
            }

            .right{
                display: flex;
                align-items: center;

                .icon{
                    padding: 0px 10px;
                    display: flex;
                    align-items: center;
                    padding: 8px 15px;

                    &:hover{
                        background-color: #dbdbdb;
                    }
    
                    &:nth-child(3):hover{
                        background-color: red;

                        .hover-close{
                            display: flex;
                        }

                        .hover-default{
                            display: none;
                        }
                    }
                }

                .hover-close{
                    display: none;
                }
            }
        }

        &-result{
            margin-top: 30px;
            color: #000;
            margin: 0px 15px;
            width: 290px;

            .calculationResult{
                font-size: 47px;
                font-weight: 500;
                text-align: right;
                width: 290px;
                border: none;
                background-color: #f3f3f3;
                margin-top: 75px;
            }
            
        }

        &-btns{
            display: flex;
            flex-direction: column;
            padding: 0px 5px 5px 5px;
            gap: 2px;

            .row{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 2px;

                input{
                    //padding: 14px 30px;
                    border: 1px solid #e5e5e5;
                    border-radius: 5px;
                    background-color: #f9f9f9;
                    font-size: 14px;
                    width: 100%;
                    height: 47px;

                    &:hover{
                        background-color: #f6f6f6;
                    }
                }

                .equal{
                    background-color: #005a9e;
                    color: #cbddeb;

                    &:hover{
                        background-color: #196aa7;
                    }
                }
            }
        }
    }

    &__snakeGame{
        position: absolute;
        width: 600px;
        height: 600px;
        background-color: #f3f3f3;
        top: 30%;
        left: 30%;
        display: none;

        &._active{
            display: block;
        }

        .header{
            display: flex;
            align-items: center;
            justify-content: right;
            background-color: #B8C6DC;

            .icon{
                padding: 0px 10px;
                display: flex;
                align-items: center;
                padding: 8px 15px;

                &:hover{
                    background-color: #dbdbdb;
                }

                &:nth-child(3):hover{
                    background-color: red;

                    .hover-close{
                        display: flex;
                    }

                    .hover-default{
                        display: none;
                    }
                }
            }
        }

        .gameMenu{
            width: 100%;
            height: 100%;
            background-color: #293447;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            display: none;

            &__modes{
                padding: 15px 70px;
                border-radius: 30px;
                text-align: center;
                border: 3px solid #435675;

                :nth-child(1){
                    color: rgb(0, 168, 0);
                    transition: .4s all ease;

                    &:hover{
                        letter-spacing: 2px;
                        border-bottom: 1px solid rgb(0, 168, 0);
                    }
                }
                :nth-child(2){
                    color: rgb(219, 158, 25);
                    transition: .4s all ease;

                    &:hover{
                        letter-spacing: 2px;
                        border-bottom: 1px solid rgb(219, 158, 25);
                    }
                }
                :nth-child(3){
                    color: rgb(201, 73, 34);
                    transition: .4s all ease;

                    &:hover{
                        letter-spacing: 2px;
                        border-bottom: 1px solid rgb(201, 73, 34);
                    }
                }
                :nth-child(4){
                    color: rgb(185, 0, 0);
                    transition: .4s all ease;

                    &:hover{
                        letter-spacing: 2px;
                        border-bottom: 1px solid rgb(185, 0, 0);
                    }
                }
            }
            h1{
                font-size: 48px;
                margin-bottom: 200px;
            }

            p{
                font-size: 22px;
                margin-bottom: 10px;
                font-weight: 500;
                border-bottom: 1px solid transparent;

                &:hover{
                    cursor: pointer;
                }
            }
        }

        .gameInfo{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
            background-color: #293447;
            p{
                color: #B8C6DC;
                font-size: 18px;
                font-weight: 600;
                letter-spacing: 2px;
            }
        }

        .gameBoard{
            height: 100%;
            width: 100%;
            display: grid;
            background: #212837;
            grid-template: repeat(30, 1fr) / repeat(30, 1fr);

            .food{
                background-color: red;
                border-radius: 50%;
            }

            .player{
                background-color: green;
                border-radius: 50%;
            }
        }

        .gameLose{
            width: 100%;
            height: 100%;
            background-color: #293447;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            display: none;
            
            h1{
                font-size: 52px;
                color: red;
            }
            p{
                margin-top: 30px;
                font-size: 22px;
            }
        }
    }

    &__telegram{
        position: absolute;
        width: 1200px;
        height: 800px;
        background-color: #f3f3f3;
        top: 10%;
        left: 20%;
        display: none;

        .header{
            display: flex;
            align-items: center;
            justify-content: right;
            background-color: #f1f1f1;

            .icon{
                padding: 0px 10px;
                display: flex;
                align-items: center;
                padding: 8px 15px;

                .hover-close{
                    display: none;
                }

                &:hover{
                    background-color: #e5e5e5;
                }

                &:nth-child(3):hover{
                    background-color: #e81123;

                    .hover-close{
                        display: flex;
                    }

                    .close{
                        display: none;
                    }
                }
            }
        }

        &-sidemenu{
            display: flex;
            transform: translate(0%, 0%);
            z-index: 9999;
            transition: .17s all ease-out;
            position: absolute;
            scale: 0;
            opacity: 0;

            &._active{
                scale: 1;
                opacity: 1;
                transform: translate(0, 0);
                top: 4%;
                left: 0%;
            }

            .left{
                padding: 22px 0px 0px 0px;
                width: 350px;
                color: #222222;
                background-color: #fff;
    
                .top{
                    border-bottom: 1px solid #d3d3d3;
    
                    .avatarImg{
                        margin-left: 22px;
                        width: 60px;
                    }
        
                    .nickname{
                        padding-left: 22px;
                        margin-top: 20px;
                        font-weight: 500;
                        font-size: 16px;
                    }
        
                    .status{
                        padding-left: 22px;
                        margin-top: 5px;
                        margin-bottom: 15px;
                        font-size: 18px;
                        color: #168acd;
                        font-weight: 400;
                    }
                }
    
                .main{
                    padding-top: 5px;
    
                    .item{
                        padding: 12px 22px;
                        display: flex;
                        align-items: center;
                        gap: 25px;
    
                        p{
                            font-size: 18px;
                            font-weight: 500;
    
                            &:hover{
                                cursor: pointer;
                            }
                        }
    
                        &:hover{
                            background-color: #f1f1f1;
                            cursor: pointer;
                        }
                    }
                }
    
                .bot{
                    margin-top: 155px;
                    padding: 22px;
    
                    h2{
                        color: #999999;
                        font-weight: 500;
                        font-size: 18px;
                    }
    
                    &__about{
                        margin-top: 10px;
                        display: flex;
                        align-items: center;
                        gap: 10px;
    
                        a{
                            text-decoration: none;
    
                            &:hover{
                                text-decoration: underline;
                                text-decoration-color: #999;
                            }
                        }
    
                        p{
                            font-size: 18px;
                            color: #999;
                            font-weight: 300;
    
                            &:hover{
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
            
            .right{
                width: 850px;
                height: 768px;
                background-color: #000;
                opacity: .5;
            }
        }

        &-channels{
            color: #222222;
            background-color: #fff;
            height: 769px;

            .top{
                display: flex;
                align-items: center;

                &__left{
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    padding: 20px 5px 20px 20px;
                    border-right: 1px solid #e5e5e5;
    
                    input{
                        padding-left: 20px;
                        font-size: 18px;
                        height: 45px;
                        width: 420px;
                        border-radius: 30px;
                        border: none;
                        border: 2px solid #e5e5e5;
    
                        &::placeholder{
                            opacity: .6;
                        }
                    }
    
                    img:hover{
                        cursor: pointer;
                    }
                }

                &__rightTg{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .channel-info{
                        margin-left: 25px;

                        .channel-name-header{
                            font-size: 18px;
                            font-weight: 500;
                        }

                        .statusChannel{
                            margin-top: 5px;
                            color: #999;
                            font-size: 16px;
                        }
                    }

                    .icons{
                        display: flex;
                        gap: 20px;
                        align-items: center;
                        margin-right: 25px;
                        display: none;
                    }
                }
            }

            .main{
                display: flex;
                flex-direction: row;

                &__channels{
                    max-width: 500px;
                    border-right: 1px solid #e5e5e5;

                    .channel{
                        display: flex;
                        align-items: center;
                        padding-left: 10px;
    
                        img{
                            max-width: 60px;
                            border-radius: 50%;
                        }
    
                        .info{
                            display: flex;
                            flex-direction: column;
                            padding: 15px 10px;
    
                            .top-info{
                                width: 400px;
                                display: flex;
                                justify-content: space-between;
    
                                .time{
                                    color: #999;
                                    font-size: 14px;
                                }
                            }
    
                            .channel-name{
                                font-size: 18px;
                                font-weight: 500;
                            }
    
                            .channel-post{
                                color: #999999;
                                padding-top: 5px;
                                font-size: 16px;
                                font-weight: 400;
    
                                &:hover{
                                    cursor: pointer;
                                }
                            }
                        }
    
                        &:hover{
                            background-color: #f1f1f1;
                            cursor: pointer;
                        }
                    }
                }

                &__info{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    background: url(../images/telegram_bg.jpg) top center;
                    background-size: cover;
                    width: 100%;
                    height: 684px;
                    padding: 20px;
                    overflow-y: scroll;
                    display: none;

                    .message{
                        border-radius: 10px 10px 10px 0px;
                        padding: 5px 10px;
                        max-width: 500px;
                        background-color: #fff;

                        .channelName{
                            font-size: 18px;
                            margin-bottom: 10px;
                            font-weight: 500;
                        }

                        .channel-msg{
                            max-width: 500px;
                            font-size: 16px;
                        }

                        &__footer{
                            display: flex;
                            align-items: center;
                            justify-content: right;
                            gap: 10px;

                            .time, .views{
                                color: #a0acb6;
                                font-size: 14px;
                            }

                        }
                    }
                }
            }

            &._hidden{
                background-color: #000;
                opacity: .3;
            }
        }
    }

    &__icons{
        padding: 10px;
        display: flex;
        flex-direction: column;

        &-icon{
            width: 80px;
            padding: 5px;
            border: 1px solid rgba($color: #65c4d1, $alpha: 0.0);
            display: flex;
            flex-direction: column;
            align-items: center;

            img{
                max-width: 70px;
            }

            h2{
                text-align: center;
                font-weight: 400;
                filter: drop-shadow(1px 2px 1px black);

                &:hover{
                    cursor: default;
                }
            }

            &:hover{
                background-color: rgba($color: #79ebfa, $alpha: 0.15);
                border: 1px solid rgba($color: #65c4d1, $alpha: 0.5);
            }

            .recycle_bin{
                max-width: 60px;
            }
        }
    }
}

.footer{
    height: 40px;
    //background-color: rgba($color: #17192c, $alpha: 0.7);
    background-color: rgba($color: #383838, $alpha: 0.8);
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9999;

    &__left{
        display: flex;
        align-items: center;
        gap: 2px;

        &-icon{
            display: flex;
            justify-content: center;
            width: 50px;
            height: 100%;
            padding: 4px;

            &:hover{
                background-color: rgba($color: #fff, $alpha: 0.15);
            }
        }

        img{
            max-width: 30px;
        }

        .user-icons{
            border-bottom: 2px solid rgb(95, 171, 221);
        }

        .chromeFooterIcon, .calcFooterIcon, .snakeFooterIcon, .telegramFooterIcon{
            display: none;
        }
    }

    &__right{
        display: flex;
        align-items: center;
        gap: 5px;

        &-icon{
            display: flex;
            justify-content: center;
            width: 30px;
            height: 100%;

            .arrow-image{
                max-width: 15px;
                margin: 13px;
            }

            .micro-image, .ethernet-image{
                max-width: 22px;
                margin: 9px;
            }

            .sound-image{
                margin: 8px;
            }

            &:hover{
                background-color: rgba($color: #fff, $alpha: 0.15);
            }
        }

        &-time{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            padding: 0px 5px;
            max-width: 80px;
            text-align: center;

            p{
                font-size: 14px;
                font-weight: 400;
            }

            &:hover{
                background-color: rgba($color: #fff, $alpha: 0.15);
                cursor: default;
            }
        }
    }

    &__tray{
        width: 120px;
        height: 40px;
        position: absolute;
        background-color: rgba($color: #383838, $alpha: 1);
        bottom: 40px;
        left: 86%;
        display: flex;
        align-items: center;
        display: none;

        &-icon{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 100%;

            &:hover{
                background-color: lighten(#383838, 10%);
            }
        }

        &._active{
            display: flex;
        }

        img{
            width: 20px;
        }
    }

    &__internet{
        width: 350px;
        position: absolute;
        background-color: rgba($color: #383838, $alpha: 1);
        bottom: 40px;
        right: 0;
        display: none;

        &._active{
            display: block;
        }

        &-status{
            display: flex;
            gap: 15px;
            margin: 10px 0px;
            padding: 5px 10px;

            &:hover{
                background-color: lighten(#383838, 10%);
            }

            span,p{
                font-size: 15px;

                &:hover{
                    cursor: default;
                }
            }

            .info{
                display: flex;
                flex-direction: column;
                gap: 5px;

                p{
                    color: rgb(161, 161, 161);
                }
            }
        }

        &-title{
            font-size: 16px;
            margin-left: 10px;
            color:rgb(99, 175, 226);
            font-weight: 400;

            &:hover{
                color: rgb(161, 161, 161);
                cursor: pointer;
            }
        }

        &-subtitle{
            font-size: 12px;
            margin-left: 10px;
            line-height: 20px;
            margin-bottom: 10px;
            color: rgb(161, 161, 161);

            &:hover{
                cursor: default;
            }
        }
    }
}